/* USAGE
 *   grunt shipit:production deploy
 *   grunt shipit:production rollback
 */

var pkg = require('./package.json');

module.exports = function (grunt) {

  /**
   * Initialize config.
   */

  grunt.initConfig({
    shipit: {
      options: {
        // Project will be build in this directory.
        workspace: '/tmp/socket.io-webservice',

        // Project will be deployed in this directory.
        deployTo: '/opt/socket.io-webservice',

        // Repository url.
        repositoryUrl: pkg.repository,

        // This files will not be transfered.
        ignores: ['.git', 'node_modules'],

        // Number of release to keep (for rollback).
        keepReleases: 3
      },

    // Production environment.
      production: {
        servers: ['example.net']
      }
    }
  });

  /**
   * Load shipit task.
   */

  grunt.loadNpmTasks('grunt-shipit');
};
